<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Zeal</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=La+Belle+Aurore&family=Loved+by+the+King&family=Protest+Revolution&family=Zeyada&display=swap" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-lava.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style   .css') }}">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav"> 
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ url_for('index') }}" class="logo">
                            <img src="{{ url_for('static', filename='images/pimg.png') }}" alt="Logo">
                        </a>
                        <!-- ***** Logo End ***** -->
                        
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                            <li class="scroll-to-section"><a href="#about" class="menu-item">About</a></li>
                            <li class="scroll-to-section"><a href="#testimonials" class="menu-item">Group</a></li>
                            <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Project Report</a></li>
                        </ul>
                        <!-- ***** Menu End ***** -->
                        
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1 style="font-size: 40px; line-height: 1.2;">Design of Machine Learning Model for <em>Pomegranate Ripeness Detection</em></h1>
                        <br>
                        <br>
                        <a href="{{ url_for('detect') }}" class="main-button-slider">Detect Disease and Grade</a>
                        <a href="{{ url_for('detect_objects_webcam') }}" class="main-button-slider"  style="margin-left:10px">Detect Ripeness</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>01</h2>
                            <img src="{{ url_for('static', filename='images/features-icon-1.png') }}" alt="">
                            <h4>NECESSITY</h4>
                            <p>Precision agriculture advances through machine vision for pomegranate ripeness, optimizing harvesting, supply chain, and post-harvest.
                            </p>
                            <a href="{{ url_for('static', filename='pdf/report.pdf') }}" download target="_blank" class="main-button">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>02</h2>
                            <img src="{{ url_for('static', filename='images/features-icon-2.png') }}" alt="">
                            <h4>OBJECTIVE</h4>
                            <p>
                                Project objectives include creating a diverse pomegranate image dataset, implementing CNN for feature extraction, and optimizing real-time performance.</p>
                            <a href="{{ url_for('static', filename='pdf/report.pdf') }}" download target="_blank" class="main-button">
                                Discover More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item ">
                        <div class="features-icon">
                            <h2>03</h2>
                            <img src="{{ url_for('static', filename='images/features-icon-3.png') }}" alt="">
                            <h4>THEME</h4>
                            <p> The project develops advanced software for precise pomegranate ripeness analysis, then transitions to hardware deployment for real-world agricultural applications.
                            </p>
                            <a href="{{ url_for('static', filename='pdf/report.pdf') }}" download target="_blank" class="main-button">
                                More Detail
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="left-image-decor"></div>

    
    <!-- ***** Features Big Item End ***** -->

    <section class="section" id="promotion">
        <div class="container">
            <div class="row">
                <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{{ url_for('static', filename='images/left-image.png') }}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="{{ url_for('static', filename='images/about-icon-01.png') }}" alt="">
                            <div class="text">
                                <h4>Ripeness detection:</h4>
                                <p>Utilizing machine learning to identify optimal fruit ripeness for efficient harvesting and quality control in agriculture.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="{{ url_for('static', filename='images/about-icon-01.png') }}" alt="">
                            <div class="text">
                                <h4>Disease detection:</h4>
                                <p>Applying ML models to identify and classify diseases in pomegranates for timely intervention and crop protection.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="{{ url_for('static', filename='images/about-icon-01.png') }}" alt="">
                            <div class="text">
                                <h4>Deployment</h4>
                                <p>Our project aims to develop a versatile solution compatible with both Android and web platforms for accessible and user-friendly deployment.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="right-image-decor"></div>

    

    <!-- Rest of the HTML content -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2>Project Group <em>Members</em></h2>
                        <p>
                            As a final year project group, our aim is to revolutionize precision agriculture by developing a vision-based deep learning solution.</p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item service-item">
                            <div class="author">
                                <!-- <i><img src="{{ url_for('static', filename='images/testimonial-author-1.png') }}" alt="Author One"></i> -->
                            </div>
                            <div class="testimonial-content">
                                <h4>Yash Patil</h4>
                                <p>"Contributed to model validation, testing, and fine-tuning, ensuring the robustness of the final solution."</p>
                                <span>ML Model</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <!-- <i><img src="{{ url_for('static', filename='images/testimonial-author-1.png') }}" alt="Second Author"></i> -->
                            </div>
                            <div class="testimonial-content">
                                <h4>Lambodar Waghmare</h4>
                                <p>“Design and development of both the mobile and web applications for deploying the model.”</p>
                                <span>Deployment</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <!-- <i><img src="{{ url_for('static', filename='images/testimonial-author-1.png') }}" alt="Author Third"></i> -->
                            </div>
                            <div class="testimonial-content">
                                <h4>Vrushabh Pawar</h4>
                                <p>“ML model for detecting pomegranate ripeness and diseases, optimizing its accuracy and performance.”</p>
                                <span>ML Model</span>
                            </div>

                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <!-- <i><img src="{{ url_for('static', filename='images/testimonial-author-1.png') }}" alt="Fourth Author"></i> -->
                            </div>
                            <div class="testimonial-content">
                                <h4>Tushar Sable</h4>
                                <p>“I focused on tasks like data collection, preprocessing, and feature engineering for model development.”</p>
                                <span>Data Acquisition</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Full Name" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="E-Mail Address"
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Your Message"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send Message
                                                Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>More About <em>AnarMitra</em></h2>
                       
                        <p>
                            Our application offers intuitive interfaces for users to easily capture and analyze pomegranate images, providing accurate ripeness and disease assessments.
                        </p>
    
                        <br>
    
                        <p>the app incorporates features for real-time data processing, allowing farmers to make informed decisions promptly for optimal crop management.</p>
                          
                        <ul class="social">
                              <li><a href="https://www.linkedin.com/in/lambodar-waghmare/"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="https://www.linkedin.com/in/lambodar-waghmare/"><i class="fa fa-linkedin"></i></a></li>
    
                        <a href="{{ url_for('static', filename='pdf/report.pdf') }}" target="_blank" class="main-button-slider" style="padding-bottom: 10px;">See Report</a>
    
                        </ul>
    
    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <a href="https://www.linkedin.com/in/lambodar-waghmare/" target="_blank">Made with <span aria-label="Love" style="color: #f43f5e">&hearts;</span> in India by Lambodar</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imgfix.min.js') }}"></script>

    <!-- Global Init -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>